*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    text-decoration: none;
    padding: 10px;

}

.teste{
    height: 800px;
    width: 100%;

}

footer p{
    text-align: center;
    color: black;
    align-self: flex-start;
    background-color:  #a490da;
    padding: 5px;
    margin-top: 7px ;
} 

.tela_inicial{
    margin-top: 10px;
    align-items: baseline;
    
}


.pesquisa{
    align-self:baseline;
    width:  500px;
    height: 50px;
    
}

.botao{
    width: 100px;
    height: 50px;
}

.opcao{
   align-items: center;
   text-align: right;
   flex-direction: column;

}

.bt_opcao{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: larger;
    width: 200px;
    height: 50px;
    opacity: 100%;
    text-align: center;
    box-sizing: border-box;
    border-color: aliceblue;
    margin-top: 20px;
    margin-left: 20px;
}

.consultorio{
    padding: 5px;
    float: center;
    width: 100%;
}

.container{ position: relative;
 width: 60px;
 margin: 20px auto;
}

h2{
    color: black;
}